
		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
				<div>
					<br>
					<br>	
					<br>
					<h1 class="display-4">Hello!</h1>
                    <p1 style = "font-family: 'Handlee', cursive; font-size:25px;">Welcome to about page</p1>
				</div>
				<br>
				<br>	
				<br>
				<div>
					<h2 class="display-8">Student information</h2>
					<p2 style = "font-family: 'Handlee', cursive; font-size:25px;">First Name:Mahshid  &nbsp;
						Last  Name:Farrahinia 
						<br> 
						Studet ID: 144091196
						<br>
						Programme: DAD (Database Application Developer)
					</p2>
				</div>
					
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>
