
		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
				
			<div>	
				
					<br>	
					<br>
				<h1 class="display-8">College memebr's information table</h1>
				<table border = "3" class="table">
				  <caption>Faculty's Information</caption>
				  <thead>
					 <tr>
						<th>FacultyID</th>
						<th>FirstName</th>
						<th>LastName </th>
					 </tr>
				 </thead>
				 <tbody>
					<tr>
						<td>1</td>
						<td>Eden</td>
						<td>Burton</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Patrick</td>
						<td>Crawford</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Nebojsa</td>
						<td>Conkic</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							This is a table for showing the Facultys informatoin
						</td>
					</tr>

				</tfoot>
				</table>
				
				<table border = "3" class="table">
					<caption>Student's Information</caption>
					<thead>
					   <tr>
						  <th>StudentID</th>
						  <th>FirstName</th>
						  <th>LastName </th>
					   </tr>
				   </thead>
				   <tbody>
					  <tr>
						  <td>100</td>
						  <td>Mahshid</td>
						  <td>Farrahinia</td>
					  </tr>
					  <tr>
						  <td>101</td>
						  <td>AmirHassan</td>
						  <td>Kheirbakhsh</td>
					  </tr>
					  <tr>
						  <td>102</td>
						  <td>Bryan</td>
						  <td>Minnery</td>
					  </tr>
				  </tbody>
				  <tfoot>
					  <tr>
						  <td colspan="3">
							This is a table for showing the university students informatoin
						  </td>
					  </tr>
  
				  </tfoot>
				  </table>
			</div>

				
			<div>
				<h2 class="display-8">Lists of courses</h2>
				  <ul>
					   <li style = "font-family: 'Handlee', cursive; font-size:25px;">Java</li>
					   <li style = "font-family: 'Handlee', cursive; font-size:25px;">Sql Server</li>
					   <li style = "font-family: 'Handlee', cursive; font-size:25px;">Database</li>
					       <ul>
							   <li style = "font-family: 'Handlee', cursive; font-size:20px;">Design</li>
							   <li style = "font-family: 'Handlee', cursive; font-size:20px;">PL/SQL</li>
						   </ul>
					   <li style = "font-family: 'Handlee', cursive; font-size:25px;">Operating System</li>
					   <li style = "font-family: 'Handlee', cursive; font-size:25px;">Web Programming</li>
					        <ul>
							   <li style = "font-family: 'Handlee', cursive; font-size:20px;">Java Script</li>
							   <li style = "font-family: 'Handlee', cursive; font-size:20px;">Node.js</li>
                               <li style = "font-family: 'Handlee', cursive; font-size:20px;">HTML</li>
 							</ul>
				  </ul>
				  <p> This section gives you information about courses which are presented in DAD program</p>
			</div>

				
			<div>
			    <h3 class="display-8">College's images</h3>
					<img src="https://www.senecacollege.ca/content/dam/projects/seneca/international/images/2017-06-9561_top.jpg" alt="College compute Center"><br>
					<hr>
					<img src="https://www.transitionresourceguide.ca/sites/transitionresourceguide.ca/files/img/hero/seneca-college.jpg" alt="Newham Building"><br>
					<hr>
					<img src="https://edtechmagazine.com/higher/sites/edtechmagazine.com.higher/files/styles/trending_thumb/public/articles/2013/03/seneca-library-future-300.png.jpg" alt="Seneca Library"><br>
					<hr>
				
				<p>This section we showed many different images from Seneca college</p>
			</div> 

				
			<div>
				<h4 class="display-8">Classic sound</h4>
				<audio controls>
					<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/Track03.mp3" type="audio/mp3">
					<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/Track03.ogg" type="audio/ogg">   
				</audio>
				<p>This section we play a classic music for you</p>
			</div>
			

			<div>
				<h5 class="display-8">Video</h5>
                <video width="320" height="240" controls>
					<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/movie.mp4" type="video/mp4">
					<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/movie.ogg" type="video/ogg">
					<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/movie.webm" type="video/webm">
					<p>This section we play a video for you</p>
				</video>
			</div>

					<!-- End your code here  -->



				</main>
			</div>
		</div>
